.page h1,.page h2,.page h3,.page h4,.page h5,.page h6,.page p,.page a{
	text-transform: none !important;
}

.img-show{
	width: 100%;
}
.img-show img{
	width: 100%;
}
.text-center{
	text-align: center;
}

.comment-time{
	position: absolute;
	right: 10px;
	z-index: 99999;
}

.comment-box{
	
}